.removeInsetBorder {
    -fx-background-insets: 0, 0;
}

.removeInsetBorder:focused {
    -fx-background-insets: -1.4, -0.3, 1;
}

.whiteBg {
    -fx-background-color: white;
}

/* split pane */

.split-pane.invisible-divider > .split-pane-divider {
    -fx-background-color: none;
    -fx-background-insets: 0;
}

/* font */

.monospace {
    -fx-font-family: monospace;
}
